@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

@media only screen and (min-width: 20em) {

  section img {
    width: 100%;
    float: left;
  }

  section img:nth-child(2) {
    display: none;
  }

  section img:last-child {
    display: none;
  }

}

@media only screen and (min-width: 25em) {

  section img {
    display: inline-block;
  }

  section img:nth-child(2),
  section img:nth-child(3),
  section img:nth-child(4),
  section img:nth-child(5) {
    display: inline;
    width: 50%;
  }

}

@media only screen and (min-width: 38em) {

  section img:nth-child(2),
  section img:nth-child(3),
  section img:nth-child(4) {
    display: inline;
    width: 33.333%;
  }

  section img:last-child {
    display: none;
  }

}

@media only screen and (min-width: 60em) {

  section img:first-child {
    width: 66.666%;
  }

  section img:last-child {
    display: inline-block;
    width: 33.333%;
  }

}
